<h1 class="center">EMPLOY</h1>

<div>
  <span class="" id="">
    <p> If you need some type of job done and you dont have the time, the skill or you're just too lazy to do it, just hop into the Liber app (mobile or web) and offer the job for a certain amount of money. 
    <hr></hr>
    <p class="center"><b>You can post a job <a href="">here</a></b><p></span>
    <hr></hr>
    <p>Employers can be <b>anyone</b>: Busy offices, your local pizza parlor, you or even me.</p>
    <p>The jobs offered can be <b>anything</b>: Getting someone coffee, mawing someones lawn, writing a line o code, teaching someone math and even getting a ping pong ball for the beerpong that your local frat house is throwing.</p>
    <p>The users that are inside a certain radius will get notified through the app and the ones that are willing to do the job will send you a "job confirmation". The willing employees may request a higher pay which you can accept, negotiate or decline</p>
    <p>If you accept: The user will inmediatelly put his/her hands to work and get your job done as fast and as effective as they can</p>
    <p>Details about the amount of time that the worker has left, the phone number of the worker and the exact location of the worker will be available to you during the time of the employment</p>
    <p>After the job is done you need to hop on again into the app and finish the ordeal by pressing the "Done" button if the job was done correctly and succesfully, or "Not Done" if it wasnt. </p>
      <p>If you pressed the <b>"Done"</b> button: This will transfer the amount of money that you offered to pay and if you found that the user did an amazing job you can be generous enough to give an extra tip through the app by pressing the "¿tip?" button.</p>
      <p>If you pressed the <b>"Not Done"</b> button: This will cancel any arrangement you had with the user and also any transaction you had with him or her.</p>
  </span>
</div>