<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Job Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="jumbotron container-fluid center">
  <span id="welcome_jumbotron">
      <h1 id="welcome_to_liber"><%= t '.welcome' %></h1>
      <h2 ><b><%= t '.about_app1'%></b></h2>
      <h2 ><b><%= t '.about_app2'%></b></h2>
      <h2 ><b><%= t '.about_app3'%></b></h2>
      <br></br>
  </span>
  <div class="center" id="signup1">
    <h2 id="quote1"><b><%= t '.quote1'%></b></h2>
    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary", id:"signup_test"%>
  </div>
</div>

  <div id="howitworks">    
    <h1 class="center"><b><%= t '.howitworks'%></b></h1>
  </div>
    <div class="container-fluid" id="work">
        <span>
        <h1 class="left" id="work1"><b><%= t '.work1'%></b></h1>
        </span>
        <span class ="container-fluid" id="work_content">
          <p><%= t '.work1content1'%></p>
            <span>
            <p class="center"><b><%= t '.createprofile'%> <a href=""><%= t '.here'%></a></b></p>
            </span>
          <p><%= t '.work1content2'%></p>
          <p><%= t '.work1content3'%> <a href=""><%= t '.here'%></a> <%= t '.work1content4'%></p>
          <p><%= t '.work1content5'%></p>
          <p><%= t '.work1content6'%></p>
          <p><%= t '.work1content7'%></p>
          <p><b> <%= t '.work1content8'%> <a href=""><%= t '.vision'%></a>.</b></p>
          <p><b> <%= t '.work1content9'%> <a href=""><%= t '.here'%></a>.</b></p>
        </span>
      </div>
    </div>
    <div class="container-fluid" id="employ">
      <span>
      <h1 class="left" id="employ1"><b> <%= t '.employ1'%></b></h1>
      </span>
      <span>
        <span class ="container-fluid" id="employ_content">
          <p><%= t '.employ1content1'%></p>
            <p class="center"><b><%= t '.createprofile'%> <a href=""><%= t '.here'%></a></b></p>
          <p><%= t '.employ1content2'%></p>
          <p><%= t '.employ1content3'%></p>
          <p class="center"><b><%= t '.employ1content4'%> <a href=""><%= t '.here'%></a></b><p>
          <p> <%= t '.employ1content5'%></p>
          <p> <%= t '.employ1content6'%></p>
          <p> <%= t '.employ1content7'%></p>
          <p> <%= t '.employ1content8'%></p>
      </span>
    </div>

<!--
<section id="seventh_section">
  <div class="container-fluid">
    <div class="left" id="fibonacci1">
      <div class="rectangle1" id="fibo1rectangle1"></div>
        <div class="rectangle2" id="fibo1rectangle2"><small></small></div>
        <div class="rectangle3" id="fibo1rectangle3"><a class=""></a></div>
    </div>
    <div class="center" id="fibonacci2">
      <div class="rectangle1" id="fibo1rectangle1"></div>
        <div class="rectangle2" id="fibo1rectangle2"> <small></small></div>
        <div class="rectangle3" id="fibo1rectangle3"><a class=""></a></div>
    </div>
    <div class="right" id="fibonacci3">
      <div class="rectangle1" id="fibo1rectangle1"></div>
        <div class="rectangle2" id="fibo1rectangle2"> <small></small></div>
        <div class="rectangle3" id="fibo1rectangle3"><a class=""></a></div>
    </div>
  </div>
</section>
-->

<div id="statistics_section" class="container-fluid center">
  <p><b>300345</b> active users</p>
  <p><b>2000</b> jobs completed</p>
  <p><b>300</b> open positions</p>
</div>

<div class ="container-fluid" id="vision">
  <h1 class="center">VISION<span><%= link_to image_tag("Logo Ideas/logonew4.png", alt: "Liber logo", id:"evo1")%></span></h1>
    <p>Our vision as a company is to first create a platform that represents a new way for people to earn money and complete jobs. We will also try to incorporate users selling goods and also startups.</p>
    <p>Secondly we will create a sector for teaching. People will get taught skills so that they can open even more their horizon of job opportunities.</p>
    <p>After those two steps are established we will establish a feature that enables users to cooperate with each other for the completion of certain jobs. We want for this step to allow users to form small businesses within the platform.</p>
    <p>At this stage we expect a surge in the number of employments and in the number of active businesses within the platform. Our objective is to form an economy in a platform.</p>
    <p class="center"><b>Read an extended version of our vision <a>here</a></b></p>
</div>
<div class ="container-fluid" id="philosophy">
  <h1 class="center">PHILOSOPHY<span><%= link_to image_tag("Logo Ideas/logo1 dharma.png", alt: "Liber logo", id:"dharma1")%></span></h1>
    <p>Our main aim is to show the uniqueness of people and provide them with a platform that enables them to express themselves freely and without limitations. </p>
    <p>Our main goal as a company is to follow our human destiny through uncertainty and find something divine that is purely organic and unique to our nature. Our aim is to potentiate our inevitable symbiotic relationship with other human and sentient beings. A relationship that is possible only by our impulses towards creation, through cooperation and unification, that are intrinsic to our human natural manifestation.</p>
</div>

<div class="container-fluid" id="whoarewe">
  <h1 class="center">WHO ARE WE</h1>
  <br></br>
  <p class="center">Matías Mingo</p>
  <div class="center">
  <%= image_tag("matías2.png", :alt => "rss feed", :id=> "matias_photo")%>
  </div>
  <br></br>
  <p class="center side_description"><b>Founder and CEO</b></p>
  <p>Hi my name is Matías Mingo. Im a 20 year old student from Chile. Im also the founder and CEO of Liber.
  </p>
  <p>
    Between the things i consider myself to be are being an entrepreneur, a philosopher and a true lover of the world.
  </p>
  <p>Check my own documentation of what moves me to do stuff in life by visiting my personal website <a href="http://www.matias.life">www.matias.life</a></p>
</div>
<% end %>

