<h1 class="center">WORK</h1>

<div class="" id="">
  <p>The first step of becoming a user of Liber is by creating a profile.</p>
  <hr></hr>
    <p class="center"><b>You can create a profile <a href="">here</a></b></p>
  <hr></hr>
  <p>On you profile you should include: Your name, your profile picture, a brief description of you as a person and your hustling spirit, a list of certain skills that you posses (if any), a list of jobs you are good at and a brief description of your goals and objectives in life. 
  <p>
  <p>After your profile has been created you are ready to start hustling</p>
  <p>Choose from a list of types of work that you would like to have </p>
  <p>After you finish filling out all of the important information you are ready to start your life as a hustler</p>
  <p> You can choose between being a full time or part time hustler. Full-time users get notified about jobs on a 24/7 shcedule. Part-time users get notified about jobs on a schedule of their choosing.</p>
  <p><b>This is the first version of the app so its functionality is very simple and straightforward. The most important thing is our <a href="">vision</a>.</b></p>
</div>