@import "bootstrap-sprockets";
@import "bootstrap";
@import "clrs";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* UNIVERSAL */
*{
   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
   font-color: #2A3D45;
}
body {
  background-color: transparent;
}

section {
  overflow: auto;
}

div{
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.right{
  text-align: right;
  h1 {
    margin-bottom: 10px;
  } 
}

.left{
  text-align: left;
  h1 {
    margin-bottom: 10px;
  }
}


  /* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.6em;
  line-height: 1.7em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin: 0px 20px 0px 20px;
}

a{
  text-decoration: none;
 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  &:hover{
    text-decoration: none;
  }
}

li{
  text-tecoration: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

                        /* HEADER */
header{
  border-style: none;
  position: static;
}
#header{
  margin-bottom: -80px;
}
.navbar{

}
.glyphicon.glyphicon-menu-hamburger {
  font-size: 2.2em;
  color: #1A1B1C;
}
#glyphcon_hamburger{
  cursor:pointer;
  margin-left:10px;
}
.Logo1{
  width:175.65px;
  height:58px;
  margin-left: 40px;
  margin-bottom: 30px;
}
.Logo2{
  width:86.65px;
  height:44.5px;
  margin-bottom: 35px;
  margin-left: 100px;
}
#header_nav_1{
  padding-left: 10%;
}
#work2{
  padding-right:50px;
  color: #1A1B1C;
  font-size: 1.3em;
  :hover{
  text-decoration: none;
  }
}
#employ2{
  color: #1A1B1C;
  font-size: 1.3em;
  :hover{
  text-decoration: none;
  }
}
#logo1{
  font-size: 3em;
  margin-left:10px;
  :hover{
  text-decoration: none !important;
  }
}


/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
#footer{
  position:relative;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

#post_job{
  font-size: 3em;;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* STATS */

#stats{
  margin-left: 60px;
}

/* MICROPOST FORM */
#post_job_instructions{
  font-size: 0.8em;
  color: #808080;
}




        /* AUTO RESIZING */

 /* 992px + SCREEN SIZE */

@media screen and (min-width: 992px) {
          /* HEADER */
  header{
    #header_nav_1{
      position: relative;
      display: inline-block;
      margin-left: 10%;
      font-size: 1.5em;
      li{
        font-color: black;
      }
    }
    #header_nav_2{
      position: relative;
      display: inline-block;
      margin-left: 20%;
      font-size: 1.2em;
    }
    .Logo1{
    }
    .Logo2{
      display: none;
    }
    #work2{
      padding-right:20px;
    }
  }

          /* BODY */

   /* FIRST QUOTE SECTION */  
  
  /*ACCOMPLISHMENTS AND STATISTICS*/
#statistics_section{
  margin-left:0px;
}
}

  /* 768px-992px SCREEN SIZE */

@media screen and (min-width: 768px) and (max-width: 992px) {
          /* HEADER */

  header{
    #header_nav_1{
      position: relative;
      display: inline-block;
      margin-left: 0px;
      font-size: 1.6em;
      padding: 0em 3em 0em 3em;
    }
    #header_nav_2{
      display: none;
    }
    .Logo1{

    }
    .Logo2{
      display: none;
    }
  }
            /* BODY */

   /* FIRST QUOTE SECTION */  

  /*ACCOMPLISHMENTS AND STATISTICS*/
#statistics_section{
  margin-left:-0px;
}
}

  /* 768px - SCREEN SIZE */

@media screen and (max-width: 768px) {

          /* HEADER */

  header{
    #header_nav_1{
      display: none;
    }
    #header_nav_2{
      display: none;
    }
    .Logo1{
      display:none;
    }
    .Logo2{
      margin-left:20px;
    }
    }
            /* BODY */

   /* FIRST QUOTE SECTION */   
#first_section{
  display:none;
}

  /*JUMBOTRON*/
.jumbotron{

}
#signup1{
  width: 350px;
  padding-top:-15px;
  margin: auto;
  .btn{
  }
  #quote1{
    margin-top: -15px;
    font-size: 2em;
  }
}
#work1{
  text-align: center;
}
#work_content{
  text-align: justify;
}

  /*ACCOMPLISHMENTS AND STATISTICS*/
#statistics_section{
  margin-left:-0px;
}
}

