// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "clrs";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


                        /* BODY */

    /* FIRST QUOTE SECTION */

    /* FIRST JUMBOTRON */
.jumbotron{
  background-color: $blue !important;
  height: 900px;
  margin-top: 150px;
  h2{
    font-size: 2em;
    padding-top: 20px; 
  }
}
#welcome_jumbotron{
  h2{
    color: $black;
  }
}
#welcome_to_liber{
  font-size: 5.2em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: $white;
  margin-top: 100px;
  margin-bottom: 50px;
}
#logo2{
  color: #FF550C;
  font-size: 1em;
}
#l2{
  color:#242551;
}
#i2{
  color:#406244;
}
#b2{
  color:#dab71f;
}
#perthro2{
  color:#d8832b;
}
#r2{
    color:#c94d4d;
}

#signup1{
  background-image: url(/assets/Backgrounds/topography.png);
  background-color: transparent !important;
  border: 3px solid $maroon;
  border-radius: 10px;
  height: 180px;
  width: 500px;
  margin-top:50px;
  padding-top:5px;
  margin: auto;
  .btn{
    background-color: $maroon;
    color: $aqua;
  }
}
#quote1{
  color: $maroon;
}

/* HOW IT WORKS */
#howitworks{
  background-color: $aqua !important;
  height: 150px;
  margin-top: -30px;
  h1{
    font-size: 4em;
    color: $navy;
    padding-top: 45px;
  }
}
#work{
  background-color: $red !important;
}
#work1{
  color: $white;
}
#work_content{
  color: $white;
}
#employ{
  background-color: $maroon !important;
}
#employ1{
  color: $yellow;
}
#employ_content{
  color: $yellow;
}
#fourth_section{
  margin-top: 50px;
}
  
  /*SECOND SIGNUP*/
#signup2{
  background-color: #1A1B1C !important;
  height: 320px;
  h2{
    margin-top:50px;;
    color: white;
    }
  }


  /* USERS AND STORIES */

#fibonacci1{
    box-shadow: none;
    height:223.45px;
    width:361.55px;
    position:relative;
    display:inline-block;
}

#fibonacci2{
    box-shadow: 10px 10px 5px #888888;
    height:223.45px;
    width:361.55px;
    position:relative;
    display:inline-block;
}

#fibonacci3{
    box-shadow: 10px 10px 5px #888888;
    height:223.45px;
    width:361.55px;
    position:relative;
    display:inline-block;
}

#fibo1rectangle1{
    background-size: 223.45px 223.45px;
}

.rectangle1{
    border:1px solid;
    height:223.45px;
    width:223.45px; 
    margin-top:10px;
}
.rectangle2{
    border:1px solid ;
    height:138.1px;
    width:138.1px; 
    position:relative;
    display:block;
    left:223.45px;
    bottom:138.1px;
}
.rectangle3{
    border:1px solid ;
    height:85.35px;
    width:138.1px; 
    position:relative;
    display:block;
    left:223.45px;
    bottom:361.55px;
}

  /*ACCOMPLISHMENTS AND STATISTICS*/
#statistics_section{
  width:100%;
  height: 400px;
  background-color: $orange !important;
  p{
    margin-top: 60px;
    font-size: 2.5em;
    color: $black;
    b{
      color: $navy;
    }
  }
}

  /*OUR VISION & PHILOSOPHY*/
#vision{
  background-color: $navy !important;
  padding-bottom: 60px;
  h1{
  	font-size: 3.5em;
    color: $white;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  p{
    color: $red;
  }
  text-align: justify;
}
#evo1{
  height: 41.7px;
  width: 85.2px;
  margin-bottom: 26px;
  margin-left: 15px;
  display: none;
}
#philosophy{
  background-color: $green !important;
  margin-top: -20px;
  padding-bottom: 60px;
  h1{
    color: $navy;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  p{
    color: $maroon;
  }
  text-align: justify;
}
#dharma1{
  height: 70.1px;
  width: 70.1px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: none;
}

  /*WHO ARE WE/THE TEAM*/
#whoarewe{
  background-color: $orange;
  margin-top: -40px;
  padding-top: 20px;
  color: $black;
}
#matias_photo{
  height:254px;
  width:201.5px;
  position: relative;
}
.side_description{
  margin-top:-10px;
  font-size: 1.1em;
}
