<footer class="footer">
  <small> 
    <p>All Rights Reserved Liber and Unknomad inc by Matías Mingo</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="">News</a></li>
    </ul>
  </nav>
</footer>