<section id="header">
<header class="navbar navbar-fixed-top ">
    <span class="dropdown" id="glyphicon_hamburger">
      <span data-toggle="dropdown" class="glyphicon glyphicon-menu-hamburger dropdown-toggle">
      </span>
      <span>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li></li>
          <li class="divider"></li>
        </ul>
      </span>
    </span>
    <!--<span id="logo1">
    <%=link_to root_path do %>
      <span id="l1">L</span><span id="i1">I</span><span id="b1">B</span><span id="perthro1">ᛈ</span><span id="r1">R</span>
    <%end%>
    </span>-->
    <span>
    <%= link_to image_tag("Logo Ideas/liberlogonew5.png", alt: "Liber logo", :class => "Logo1 center"),
            'http://liber.life/' %>
    <%= link_to image_tag("Logo Ideas/logonew4.png", alt: "Liber logo", :class => "Logo2 "),
            'http://liber.life/' %>
    </span>
      <span id="header_nav_1">
        <nav class="relative">
          <ul class="nav navbar-nav navbar-right">
            <li ><%= link_to "Work",    work_path, id: "work2" %></li>
            <li ><%= link_to "Employ",    employ_path, id: "employ2"  %></li>
          </ul>
        </nav>
      </span>
      <span id ="header_nav_2">
        <nav class="relative">
          <ul class="nav navbar-nav navbar-right">
            <li ><%= link_to "Help",    help_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>

                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li ><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </span>
</header>
</div>
</section>